.img-principal{
    height:600px;
    width:100%;
    object-fit: cover;
}


.img-mini{
    width:100px;
    height:100px;
}

.container-paper{
    
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}